{% extends "layout.html" %}
{% block content %}
{% include "head.html" %}


<div class="content">
  <div class="input-line">
    <div class="label-item">用户组</div>
  </div>
  <div class="clearfix"></div>
</div>
  
<div class="clearfix"></div>

<div class="content">
  <div class="input-line">
    <div class="label-item">上传你所在组的文章</div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div class="content">
  <div class="input-line">
    <div class="label-item">加入组</div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div class="content">
  <div class="input-line">
    <div class="label-item">创建组</div>
  </div>
  <div class="clearfix"></div>
</div>

{% endblock %}
