{% extends "layout.html" %}
{% block content %}
{% include "head.html" %}
<script src="../static/javascripts/templates/index.js"></script><!--../-->

<!-- clndr control -->
<div>
  <div>
			<ul id="sb-slider" class="sb-slider">
					<li>
						<a href="#" target="_blank"><img src="static/images/1.jpg" alt="image1"/></a>
						<div class="sb-description">
							<h3>爱我就没伤害我</h3>
						</div>
					</li>
					<li>
						<a href="#" target="_blank"><img src="static/images/2.jpg" alt="image2"/></a>
						<div class="sb-description">
							<h3>你伤害了我，还一笑而过</h3>
						</div>
					</li>
					<li>
						<a href="#" target="_blank"><img src="static/images/3.jpg" alt="image1"/></a>
						<div class="sb-description">
							<h3>静水流深</h3>
						</div>
					</li>
					<li>
						<a href="#" target="_blank"><img src="static/images/4.jpg" alt="image1"/></a>
						<div class="sb-description">
							<h3>学无止境</h3>
						</div>
					</li>
					<li>
						<a href="#" target="_blank"><img src="static/images/5.jpg" alt="image1"/></a>
						<div class="sb-description">
							<h3>沉默中爆发</h3>
						</div>
					</li>
					<li>
						<a href="#" target="_blank"><img src="static/images/6.jpg" alt="image1"/></a>
						<div class="sb-description">
							<h3>低调为人，高调做事</h3>
						</div>
					</li>
					<li>
						<a href="#" target="_blank"><img src="static/images/7.jpg" alt="image1"/></a>
						<div class="sb-description">
							<h3>凉葱落---你必须明白生活不在于索取，在于奉献</h3>
						</div>
					</li>
				</ul>
				<div id="nav-arrows" class="nav-arrows">
					<a href="#">下一张</a>
					<a href="#">上一张</a>
				</div>
				<div id="shadow" class="shadow"></div>



  </div>
  <!--div class="top-item">
    {% include "partial/calendar.html" %}
  </div>
  <input type="hidden" name="clndr_datetime" id="clndr_datetime" value="" />
  <div class="top-item">
    <img src="static/images/weixin.png" alt=":D" class="head_img">
  </div-->
</div>  

<!-- selected days posts -->
<script src="../static/javascripts/templates/partial/posts.js"></script><!--../-->
<!--div id="posts"></div>
  
<div class="clearfix"></div-->

<!-- latest posts -->
<script src="../static/javascripts/templates/partial/posts_latest.js"></script><!--../-->
<div id="posts_latest"></div>


{% endblock %}
